.transparent {
  background: rgba(0,0,0,0.25);
  border: solid 1px;
  border-color: rgba(255,255,255,0.25);
  border-radius: 10px;
}

.transparent_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 10px 15px;
}

.transparent_button:hover {
  background-clip: text;
}

